<section id="content">
	<div class="wrapper">
		<div id="news">
			<div class="view-style">
				<div class="bread">
					<p>Новости</p>
					<hr/>
				</div>
				<div>
					<img id="grid-view" class="active" src="img/icon-grid.png" alt="">
					<img id="flow-view" src="img/icon-flow.png" alt="">
				</div>
			</div>

			//=./_news-feed.html
			<div class="more">
				<div class="btn-more">
					<p>Больше новостей</p>
				</div>
			</div>
		</div>
		<div id="sidebar">
			<div class="bread">
				<p>Фильтр</p>
				<hr/>
			</div>
			<ul class="filter">
				<li>
					<p>Знаменитости</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Стиль</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Еда</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Wellness</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Психология</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Техно</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Афиша</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Fun</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
				<li>
					<p>Путешествия</p>
					<label>
						<input type='checkbox'>
					 	<span></span>
					</label>
				</li>
			</ul>		
			<a class="twitter-timeline" data-lang="ru" data-tweet-limit="1" href="https://twitter.com/tsnweek">National Park Tweets - Curated tweets by TwitterDev</a> 
		</div>
	</div>
</section>