<section id="slider">
		<div class="slide" style="background: url(../img/slide-1.jpg);">
			<div class="blur">
				<div class="info">
					<h2>Всё, что нужно знать перед началом ESL One Katowice 2019</h2>
					<p>Уже 19-го февраля в Польше стартует очередной турнир серии ESL One, участники которого разыграют между собой призовой фонд в $300,000. Единственной командой — представительницей СНГ-региона на турнире станет отобравшаяся от Европы Gambit Esports.</p>
					<div class="btn-more">Подробнее</div>
				</div>
				
			</div>
		</div>
		<div class="slide" style="background: url(../img/slide-1.jpg);">
			<div class="blur"><h1>A</h1></div>
		</div>
</section>