.feed {
	// display: grid;
	// grid-template-columns: repeat(9, 1fr);
	// column-gap: 20px;
	// grid-row-gap: 0;
	.news-preview {
		// grid-column-start: 1; 
  //   	grid-column-end: 4; 
		//width: 285px;
		margin-bottom: 35px;
		hr {
			margin: 6px 0;
			border: none;
			color: red;
			background-color: red; 
			height: 2px; 
			width: 80px;
		}
		img {

			margin-bottom: 10px;
		}
		.title {
			font-size: 20px;
		}
		.date {
			font-size: 13px;
			color: $secondary-text;
		}
	}
}