html {
	body {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		background: $primary;
		color: $primary-text;

		font-family: franklin-gothic-compressed, sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		
		.wrapper {
			margin: 0 30px;
		}
	}
}