#slider {
	height: 420px;
	.slide {
		height: 100%;
	}
	.blur {
		float: right;
	    height: 100%;
	    width: 60%;
	    clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0% 100%);
	    background: rgba(18, 17, 22, 0.8);
	}
}